<h3>Property binding and click event binding example:</h3>
<button [disabled]="!addText" (click)="onButtonClick()">Click to modify text</button>
<p>{{ exampleText }}</p>
<hr>
<h3>Event object usage example:</h3>
<input type="text" (input)="onInput($event)">
<p>{{ inputText }}</p>
<hr>
<h3>Two-way binding example using ngModel:</h3>
<input type="text" [(ngModel)]='ngModelInputText'>
<p>{{ ngModelInputText }}</p>
<hr>
<h3>ngIf example: Displays the text  below only if the below button is clicked</h3>
<button  (click)="onButtonClickForNgIf()">Click to modify text</button>
<p *ngIf='showNgIfText'>{{ ngIfExampleText }}</p>